<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-inverse">
                <div class="container">
                    <a class="navbar-brand">Charts</a>
                    <ul class="nav navbar-nav" routerLinkActive="active">
                        <li class="nav-item"><a class="nav-link" routerLink="barChart">Bar Chart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="radarChart">Radar Chart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="doughnutChart">Doughnut Chart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="pieChart">Pie Chart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="polarAreaChart">Polar Area Chart</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="lineChart">Line Chart</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>